$main-font-stack:             'Source Sans Pro', sans-serif

$background-color:            #e2e1e0
$card-bg-color:               #ffffff

$primary-font-color:          #000000
$secondary-font-color:        #333333
